<div class="d-flex align-items-center justify-content-between mb-3">
  <h1>Messages</h1>
  <button class="btn btn-secondary" (click)="logout()">Logout</button>
</div>
<button class="btn btn-primary" (click)="addMessage()">
  Create a new message
</button>

<button *ngIf="!isMember" class="btn btn-primary" (click)="handleJoinTheClub()">
  Join the club
</button>

<ng-template #joinModal let-modal>
  <div class="modal-header">
    <div
      *ngIf="membershipMessage"
      class="alert"
      [ngClass]="
        membershipMessage === 'You are a member now!'
          ? 'alert-success'
          : 'alert-danger'
      "
    >
      {{ membershipMessage }}
    </div>
    <h4 class="modal-title">Join the club</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="sumbitPasscode()">
      <div class="mb-3">
        <label for="post-title" class="form-label"
          >Enter the secret passcode</label
        >
        <input
          type="text"
          class="form-control"
          name="title"
          id="post-title"
          placeholder="Hint: It is the most populated city in the world"
          [(ngModel)]="passcode"
        />
      </div>
      <button class="btn btn-dark btn-sm mt-4">Sumbit</button>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>

<ng-template #messageModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Create a new message</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="createMessage()">
      <div class="mb-3">
        <label for="post-title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          name="title"
          id="post-title"
          [(ngModel)]="message.title"
        />
      </div>
      <div class="mb-3">
        <label for="post-text" class="form-label">Text</label>
        <textarea
          class="form-control"
          id="post-text"
          name="text"
          rows="3"
          [(ngModel)]="message.text"
        ></textarea>
      </div>
      <button class="btn btn-dark btn-sm mt-4">Sumbit</button>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>

<div *ngFor="let message of messages" class="card-deck">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ message.title }}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{ message.full_name }}</h6>
      <p class="card-text">
        {{ message.text }}
      </p>
    </div>
    <div class="card-footer text-muted d-flex justify-content-between">
      <span>{{ message.timestamp }}</span>
      <button
        *ngIf="isAdmin"
        class="btn btn-danger"
        (click)="removeMessage(message.id)"
      >
        Remove
      </button>
    </div>
  </div>
</div>
