<h1>Messages</h1>
<button class="btn btn-primary" (click)="openModal()">Open Modal</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="createMessage()">
      <div class="mb-3">
        <label for="post-title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          name="title"
          id="post-title"
          [(ngModel)]="message.title"
        />
      </div>
      <div class="mb-3">
        <label for="post-text" class="form-label">Text</label>
        <textarea
          class="form-control"
          id="post-text"
          name="text"
          rows="3"
          [(ngModel)]="message.text"
        ></textarea>
      </div>
      <button class="btn btn-dark btn-sm mt-4">Sumbit</button>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
<div *ngFor="let message of messages" class="card-deck">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ message.title }}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{ message.user_id }}</h6>
      <p class="card-text">
        {{ message.text }}
      </p>
    </div>
    <div class="card-footer text-muted">{{ message.timestamp }}</div>
  </div>
</div>
